* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.welcome {
    background: url("images/top-banner.png");
    background-repeat: no-repeat;
    overflow: hidden;
    margin-bottom: 50px;
}
.wel-text {
    width: 40%;
    float: left;
    padding: 0 100px;
}
.wel-text h1 {
    font-size: 50px;
    margin: 50px 0;
}
.wel-text .name {
    color: orange;
}
.wel-text h4 {
    font-size: 18px;
    margin: 15px 0;
}
.wel-text p {
    color: dimgray;
    margin-bottom: 20px;
}
.wel-text a {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, tomato, rgb(129, 63, 37));
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 700;
}
.wel-img {
    width: 40%;
    float: left;
    text-align: center;
}
.wel-img img {
    width: 100%;
    background-size: auto;
    
}
.dream {
    background: url("images/dream-bg.png");
    background-repeat: no-repeat;
    overflow: hidden;
    margin-bottom: 50px;
    background-position: right; 
}
.dream-img {
    width: 40%;
    float: left;
    text-align: center;
}
.dream-img img {
    width: 100%;
    background-size: auto;
    padding-left: 100px;
}
.dream-text {
    width: 40%;
    float: left;
    padding: 0 100px;
}
.dream-text h1 {
    font-size: 50px;
    margin: 50px 0;
    padding-left: 100px;
}
.dream-text h4 {
    font-size: 18px;
    margin: 15px 0;
    padding-left: 100px;
}
.dream-text p {
    color: dimgray;
    margin-bottom: 20px;
    padding-left: 100px;
}.dream-text a {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, tomato, rgb(129, 63, 37));
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 700;
    margin-left: 100px;
}
.exp {
    background: url("images/exp-bg.png");
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: left;
}
.exp > h1 {
    font-size: 45px;
    margin-bottom: 50px;
}
.mid {
    width: 90%;
    margin: auto;
}
.full-web {
    width: 43%;
    float: left;
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
    height: 300px;
    border-left: 10px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    border-radius: 5px;
    margin-bottom: 150px;
}
.full-web h1 {
    font-size: 40px;
    margin: 20px 0;
    font-weight: 500;
}
.full-web h3 {
    color: orange;
    margin-bottom: 20px;
}
.full-web p {
    color: dimgray;
}
.baby-web {
    width: 43%;
    float: right;
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
    height: 300px;
    border-left: 10px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    border-radius: 5px;
    margin-bottom: 150px;
}
.baby-web h1 {
    font-size: 40px;
    margin: 20px 0;
    font-weight: 500;
}
.baby-web h3 {
    color: orange;
    margin-bottom: 20px;
}
.baby-web p {
    color: dimgray;
}
.footer {
    text-align: center;
    margin-bottom: 20px;
}
.footer p {
    color: dimgray;
}